<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AoeNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <AoeNetwork.Properties.Settings>
            <setting name="SAVEPWD" serializeAs="String">
                <value/>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value/>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value/>
            </setting>
            <setting name="RUN_URL" serializeAs="String">
                <value/>
            </setting>
        </AoeNetwork.Properties.Settings>
    </userSettings>
</configuration>
